

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
    color: #d4af37;
    font-size: 1rem;
    font-family: 'Rajdhani', sans-serif;
    background-image: linear-gradient(to left, black, black);
}

li {
    list-style: none;
}

main {
    max-width: 1500px;
    padding-top: 2rem;
    background-color: black;
    margin: -10px auto 0;
}

/* Footer */

footer {
    margin: 10px;
    text-align: justify;
    max-width: 1500px;
    margin: 0 auto;
    background-color: transparent;
    padding: 1rem;
    box-sizing: border-box;
}

section {
    min-height: 100vh;
    scroll-margin-top: 100px;
    max-width: 1500px;
    margin: 0 auto;
}

/* HEADER */

header, #header-bg {
    width: 100%;
    height: 100px;
}

#header-bg {
    position: fixed;
    background-image: url("../../media/headerbg.png");
    background-color: black;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
    right: 0;
    z-index: -1;
}

#company-name {
    position: relative;
    display: inline-block;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: black;
    text-shadow: -1px -1px 0 #d4af37, 1px -1px 0 #d4af37, -1px 1px 0 #d4af37, 1px 1px 0 #d4af37;
    letter-spacing:0.25rem;
    font-size: 3rem;
    height: 100%;
    z-index: 4;
    transform: rotate(-15deg);
    margin-left: 5rem;
    
}

#company-name::first-letter {
    font-size: 5rem;
}

/* Navigation bar */

nav {
    display: flex;
    position: sticky;
    top: -100px;
    margin-top: -100px;
    z-index: 1;
    background-image: linear-gradient(to top, transparent, black 5%, black 50%, transparent 50%);
    opacity: 1;
    width: 100%;
    height: 200px;
}

#logo {
    width: 50%;
    height: 100%;
    z-index: 3;
}

#logo img {
    position: sticky;
    top:5px;
    height: 90px;
    opacity: 0.6;
    margin-left: 2rem;
    transition: 0.3s;
}

#logo img:hover, #logo img:focus, #logo img:target {
    opacity: 1;
    transition: 0.5s;
}

#logo img:active {
    opacity: 1;
    background-image: radial-gradient(rgb(102,111,190), transparent 70%);
}

#navbar {
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 0;
}

#navbar li, .nav-li {
    width: 60%;
    margin: 0 0 0 auto;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: right;
    background-image: linear-gradient(315deg, #d4af37 30%, black 80%);
    text-shadow: -1px -1px 0 #d4af37, 1px -1px 0 #d4af37, -1px 1px 0 #d4af37, 1px 1px 0 #d4af37;
    border-bottom: 2px solid black;
    transition: 0.5s;
}

.nav-li {
    height: 30%;
}

nav a {
    padding-right: 2rem;
}

#navbar li:first-child {
    width: 50%;
}

#navbar li:last-child {
    width: 70%;
}

#navbar li:hover {
    width: 80%;
    transition: 0.3s;
}

#navbar li:first-child:hover {
    width: 70%;
}

#navbar li:last-child:hover {
    width: 90%;
}

#navbar a:link, #navbar a:visited {
    text-decoration: none;
    color: black;
    display: block;
}

nav a {
    transition: 0.3s;
}


#navbar a:hover, #navbar a:active, #navbar a:focus, #navbar a:target {

    color: #d4af37;
    background-image: linear-gradient(315deg, rgb(102,111,190) 30%, black 90%);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-decoration: none;
    transition: color 0.5s;
    letter-spacing: 0.1rem;
}

nav a.current {
    background-image: linear-gradient(315deg, rgb(102,111,190) 30%, black 90%);
    background-color: transparent;
    transition: 0.3s; 
}

/* section titles bar */

.section-title, .sub-section-title {
    margin-block: 2rem;
    padding-left: 2rem;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 1.25rem;
    background-image: linear-gradient(135deg, rgb(102,111,190) , transparent 70%);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 0.15rem;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source:  linear-gradient(to right, #999B9B, transparent 70%) ;
}

.sub-section-title {
    margin-block: 1rem;
    text-align: right;
    padding-left: 0;
    padding-right: 2rem;
    background-image: linear-gradient(315deg, rgb(102,111,190) , transparent 70%);
    border-image-source:  linear-gradient(to left, #999B9B, transparent 70%);
}

h2 {
    padding: 0;
    margin: 0;
}

.section-title:hover {
    background-image: linear-gradient(135deg, rgb(102,111,190) 30%, transparent 90%);
}

.sub-section-title:hover {
    background-image: linear-gradient(315deg, rgb(102,111,190) 30%, transparent 90%);
}

/* About Us */

.aboutus-grid, #prices-grid{
    display: grid;
    gap: 1rem;
    padding-block: 0.5rem;
    width: 100%;
    margin-inline: auto;
    align-items: center;
}

.aboutus-grid {
    grid-template-areas:
    'image' 
    'description'; 
}

.aboutus-content, .prices-content, table {
    padding: 0.5rem 1rem;
    text-align: justify;
}

.aboutus-img {
    grid-area: image;
}

.aboutus-text {
    grid-area: description;
}

.aboutus-text ul, .aboutus-text cite {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.aboutus-img img {
    width: 100%;
    border-radius: 0.5rem;
}

/* Prices */

#prices-grid {
    grid-template-areas:
    'std-seat-img'
    'std-seat-description'
    'fc-seat-img'
    'fc-seat-description'
    'prices-table';
} 

#prices-title {
    grid-area: section-title;
}

#prices-std-img {
    grid-area: std-seat-img;
    padding-left: 0;
    height: 100%;
}

#prices-std-description {
    grid-area: std-seat-description;
}

#prices-fc-img {
    grid-area: fc-seat-img;
    padding-left: 0;
    height: 100%;
}

#prices-fc-description {
    grid-area: fc-seat-description;
}

#pricestable {
    grid-area: prices-table;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.prices-img-block {
    display: flex;
    padding: 0;
}

.prices-seat-img {
    display: flex;
    align-items: center;
    width: fit-content;
    height: auto;
    background-image: linear-gradient(to right, rgb(102,111,190), transparent 60% );
}

.prices-seat-img:hover {
    background-image: linear-gradient(to right, rgb(102,111,190) 25%, transparent);
}

/* text rotation - https://css-tricks.com/snippets/css/text-rotation/ */

#std-class, #first-class {
    position: relative;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-right: 2px solid black;
    background-image:linear-gradient(to left, rgb(125,113,29), #d4af37 30%, #d4af37 70%, rgb(125,113,29) );
    letter-spacing: 0.1rem;
    width: 40px;
    text-align: center;
    margin-left: 1rem;   
}

#std-class p, #first-class p {
    position: absolute;
    top: 120px;
    left: 0; 
    margin-left: 10px;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    z-index: 10;
    background: none;
    color: white;
    width: 120px;
    z-index:0;
}

#std-class {
    background-image:linear-gradient(to left, #6b6c6c, #999B9B 30%, #999B9B 70%, #6b6c6c );
}

/* Prices Table */

table {
    padding-top: 1rem;
    width: 100%;
}

th, td{
    width: 20%;
    text-align: center;
    padding: 1rem;
    width: max-content;
    border: 1px solid black;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#pricestable tr:nth-child(4) td:last-child {
    border-bottom-right-radius: 0.5rem;
}

#pricestable tr:nth-child(1) th:last-child {
    border-top-right-radius: 0.5rem;
}

#pricestable tr:nth-child(1) th:first-child {
    border-top-left-radius: 0.5rem;
}

#pricestable tr:nth-child(4) td:first-child {
    border-bottom-left-radius: 0.5rem;
}

.nu {
    border-top: 1px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}

.st, .std {
    background-image:linear-gradient(to bottom, #6b6c6c, #999B9B 30%, #999B9B 70%, #6b6c6c );
}

.fc, .fcd {
    background-image:linear-gradient(to bottom, rgb(125,113,29), #d4af37 30%, #d4af37 70%, rgb(125,113,29) );
}

.std, .fcd {
    border:2px solid rgb(102,111,190);
}

#prices cite {
    display: block;
    text-align: end;
    margin-right: 5%;
    color: rgb(102,111,190);
}

/* Now Showing */

#movie-section-grid {
    display: grid; 
    grid-template-columns: 1fr;
    gap: 2rem;
    background-image: linear-gradient(to left, transparent, rgb(102,111,190) 20%, rgb(102,111,190) 80%, transparent);
    padding-bottom: 4rem;
}

.movie-single {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;    
}

.movie-detail, #movie-detail {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'title title title title'
    '. runtime rating .';
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    background-image: linear-gradient(to left, transparent, #d4af37 30%, #d4af37 70%, transparent );
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}


.movie-title {
    grid-area: title;
    padding-right: 0;
}

.movie-title-bp {
    font-size: 1.5rem;
}

.movie-runtime, .movie-rating {
    font-size: 1.25rem;
}

.movie-runtime {
    grid-area: runtime;
    text-align: right;
    display: block;
}

.movie-rating {
    grid-area: rating;
    text-align: left;
}


.flip-card-container, #movieimg {
    display: flex;
    flex-flow: column;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    border-radius: 10px;
}

/* flip card CSS - https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_card */

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    perspective: 2000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    border: 1px solid  #d4af37;
    box-shadow: 2px 2px black;
}

.card-front {
    background-color:#bbb;
    color: black;
}

.card-front img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-back {
    background-image: radial-gradient(#999B9B,rgb(102,111,190));
    color: white;
    transform: rotateY(180deg);
}

.card-back p {
    text-align: justify;
    padding: 5%;
}

.card-back table {
    position: absolute;
    top: 40%;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.card-back table th, .card-back table td {
    padding: 0;
}


/*   MOVIE CARDS - BOOK NOW TABLE  */

#booknow-table tr:first-child th:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#booknow-table tr:last-child th {
    border-bottom-left-radius: 0.5rem;
}

#booknow-table tr:last-child td {
    border-bottom-right-radius: 0.5rem;
}

/* ----------------------------------- */

.booknow{
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.booknow a:link, .booknow a:visited {
    text-decoration: none;
    color: red;
    padding: 1rem 2rem;
    background:  #d4af37;
    box-shadow: 
    inset 0 4px 5px rgba(212,175,55,0.6),
    inset 0 -4px 5px rgba(0,0,0,0.6),
    0 2px 2px rgba(255,255,255,0.9);
}

.booknow a:hover, .booknow a:active, .booknow a:target, .booknow a:focus {
    text-decoration: none;
    color: #d4af37;
    background:  rgb(102,111,190) ;
    box-shadow: 
    inset 0 4px 5px rgba(0,0,0,0.6),
    inset 0 -4px 5px rgba(0,0,0,0.6),
    0 2px 2px rgba(255,255,255,0.9);
} 


/* Booking.php */

#bookings-info-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-areas:

    'poster'
    'trailer'
    'synopsis'
    'team'
    'booking-form';
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

#movie-detail {
    position: sticky;
    top: 20px;
    width: 100%;  
    z-index:1;
    margin-left: 25%;
    width: 80vw;
    background-image: linear-gradient(315deg, #d4af37 30%, transparent 85% );
    border-image-source: linear-gradient(to left,#999B9B, transparent);
    border-bottom: 5px solid ;
    border-image-slice: 1;
    box-shadow: 0 5px 0.4em black;  /* box shadow blended */
}


#movieimg {
    grid-area: poster;
    width: 100%;
    max-width: 400px;
}

#movie-trailer {
    grid-area: trailer;
}

#movie-trailer iframe {
    width: 100%;
    height: 315px;
}

#movie-synopsis {
    grid-area: synopsis;
}

#movie-team {
    grid-area: team;
}

#booking-form {
    grid-area: booking-form;
}

#movie-trailer, #movie-synopsis, #movie-team {
    width: 95%;
    max-width: 600px;
    margin: auto;
    text-align: justify;
}

#movie-synopsis, #movie-team {
    box-sizing: border-box;
    padding: 1rem 0;
}

#movie-director, #movie-stars {
    padding: 1rem 0;
}


/* Booking Selection Styling */


fieldset {
    max-width: 1000px;
    margin: 0 auto;
    border: 0px;
}

legend {
    width: 95%;
    margin-left: 0;
    margin-left: -1rem;
}

#booking-date {
    display: flex;
    padding: 0;
    border: 5px solid transparent;
    border-radius: 0.75rem;
}


#booking-date li {
    width: calc(100%/7);
    height: 4.5rem;
    text-align: center;
    position: relative;
}
  
#booking-date label, #booking-date input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d4af37;
    color: black;
    font-weight: 700;
    box-shadow: 
    inset 0 4px 5px rgba(255,255,255,0.6),
    inset 0 -4px 5px rgba(0,0,0,0.6),
    0 2px 2px rgba(255,255,255,0.9); 
}


#booking-date label {
    padding: 5px;
    border: 1px solid #CCC;   
    cursor: pointer;
    z-index: 0;
}

#booking-date #label1 {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

#booking-date #label7 {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
  
#booking-date input[type="radio"] {
    opacity: 0.01;
    z-index: 1;
}
  
#booking-date input[type="radio"]:checked+label, .Checked+label {
    background: grey;
    box-shadow: 
    inset 0 4px 5px rgba(0,0,0,0.6),
    inset 0 -4px 5px rgba(0,0,0,0.6),
    0 2px 2px rgba(255,255,255,0.9);
    color: gold;
}

/* ticket select dropdown menu */

#ticket-dropdown-menu label{
    display: inline-block;
    width: 10em;
}

#ticket-dropdown-menu div {
    display: inline-block;
    width: 3em;
    text-align: center;
}


/* ticket selection Table */

#ticketing-table table tr {
    color: white;  
}

#ticketing-table tr, #ticketing-table th, #ticketing-table td{
    padding: 1rem 0.25rem;
}

#ticketing-table tr:first-child, #ticketing-table tr:last-child {
    background-color: black;
}

#ticketing-table tr:nth-child(2), #ticketing-table tr:nth-child(3), #ticketing-table tr:nth-child(4) {
    background-image: linear-gradient(to right, #999B9B, transparent);
}

#ticketing-table tr:nth-child(5), #ticketing-table tr:nth-child(6), #ticketing-table tr:nth-child(7) {
    background-image: linear-gradient(to right, #d4af37, transparent);
}

#ticketing-table td:last-of-type, #booking-price-total {
    border-image-source: linear-gradient(to right, transparent, silver);
    border-top: 0px;
    border-left: 0px;
    border-image-slice: 1;
    width: 7rem;
}

#ticketing-table td:nth-child(2) {
    width: 4rem;
}

#ticketing-table tr:nth-child(2) th:first-child  {
    border-top-left-radius: .5rem;
}

#ticketing-table tr:nth-child(7) th:first-child  {
    border-bottom-left-radius: .5rem;
}

#ticketing-table td:nth-child(3) {
    padding: 0;
}

select, select option {
    text-align: center;
    background-color: transparent;
    font-weight: 300;
    font-size: 1.25rem;
    color: white;
    height: 3rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

select option {
    background-color: black;
}

option {
    background-color: black;
}

/* price Total */

#booking-price-total {
    color: white;
    font-size: 2rem;
    height: 3rem;
}

select {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* select option:hover, select option:focus, select option:active {
    background: linear-gradient(#000000, #000000);
    background-color: #000000 !important; 
    color: #ffed00 !important;
    outline: none;
} */

select option:checked {
    background-color: #999B9B ;
    color: black;
}

/* Your Details */

#details-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

#details-table {
    margin: 0 auto;
    padding: 0;
}


#details-table tr {
    background-image: linear-gradient(to right,rgb(102,111,190), transparent);
}

#details-table th {
    width: 7em;
    padding: auto 0;
}

#details-table tr:first-child th {
    border-top-left-radius: 0.5rem;
}

#details-table tr:last-child th {
    border-bottom-left-radius: 0.5rem;
}

#details-table tr:first-child td {
    border-top-right-radius: 0.5rem;
}

#details-table tr:last-child td {
    border-bottom-right-radius: 0.5rem;
}

#details-table td {
    padding: 0;
}

#details-table input {
    width:96%;
    max-width: 100%;
    height: 2rem;
    color: white;
    background-color: transparent;
    font: 1.5rem;
    letter-spacing: 0.05rem;
    border: none;
    padding-left: 0.5rem;
}

#details-table input:focus {
    outline: none;
}

/* book ticket(s) button */

#book-tickets-btn {
    align-self: center;
    text-align: center;
    width:15rem;
    background-repeat: no-repeat;
    background-color:#d4af37;
    border-radius: 3rem;
    box-shadow: 
    inset 0 4px 5px rgba(255,255,255,0.6),
    inset 0 -4px 5px rgba(0,0,0,0.6),
    0 2px 2px rgba(255,255,255,0.9); 
    margin: 0 auto;
    margin-top: 10px;
}

#book-tickets-btn, #book-tickets-btn input:active {
    background-image: url("../../media/ticket-icon.png");
    background-size: 30%;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
}


#book-tickets-btn input {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 3rem;
    background-color: transparent;
    color: white;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    opacity: 0.4;
}

#book-tickets-btn input:hover {
    opacity: 1;
}

#book-tickets-btn input:active {
    background-color: grey;
    box-shadow: 
    inset 0 4px 5px rgba(0,0,0,0.6),
    inset 0 -4px 5px rgba(0,0,0,0.6),
    0 2px 2px rgba(255,255,255,0.9);
    color: gold;
    opacity: 1;
}

/* SESSION SELECT AND TICKET SELECT ERROR MSG */

.error-container {
    position: relative;
    height: 2.5rem;
}


#session-select-error, #tickets-select-error, #details-error {
    background-color: white;
    color: red;
    text-align: center;
    height: 1.5rem;
    width: fit-content;
    min-width: 16rem;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    visibility: hidden;
    border-radius: 0.5rem;
    position: absolute;
    margin: 0 auto;
    text-shadow: none;
    font-weight: 400;
    background-image: url("../../media/error-icon.png");
    background-size: 20px;
    background-position-y: center;
    background-position-x: 5px;
    background-repeat: no-repeat;  
}

#session-select-error {
    left: 0;
    right: 0;
}

#details-error {
    position: absolute;
    right: 0;
    margin-top: 1rem;
    text-align: center;
}

#details-error img {
    height: 1.5rem;
    margin-bottom: -5px;
}

#session-select-error:after, #details-error:after, #tickets-select-error:after {
    content: " ";
    position: absolute;
    right: 50%;
    top: -15px;
    border-top: none;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 15px solid white;
}

#tickets-select-error {
    margin-right: 1vw;
    right: 2%;
    top: 17px;
}

#tickets-select-error:after {
    right: 5%;
}

#details-error:after {
    right: 15rem;
}

.details-info {
    position: relative;
    display: flex;
    left: 3px;
    height: 1.5rem;
}

.details-info img {
    height: 1.5rem;
    margin-right: 5px;
}

/* debugging div */

pre {
    width: 100%;
    color: white;
    background-color: black;
    font-size: 0.75rem;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }


/* MEDIA MIN 768PX */

@media (min-width: 768px) {

    body {
        font-size: 1.25rem;
    }

    section {
        scroll-margin-top: 125px;
    }

    /* Header */

    header, #header-bg {
        height: 120px;
    }

    #company-name {
        font-size: 4.5rem;
        margin-left: 5rem;
        margin-top: 3px;
    }

    #company-name::first-letter {
        font-size: 7.5rem;
    }

    /* NAV BAR */

    nav { 
        position: sticky;
        top: -125px;
        margin-top: -125px;
        height: 250px;
    }

    #logo img {
        position: sticky;
        top:5px;
        height: 120px;
        opacity: 0.6;
        margin-left: 2rem;
    }

    #navbar {
        height: 125px;

    }

    nav a{
        font-size: 1.75rem;
        padding-right: 4rem;
    }

    .aboutus-grid {
        grid-template-columns: 2fr 3fr;
        grid-template-areas:
        'image description';    
    }

    /* prices */

    #prices-grid {
        gap: 2rem;
        grid-template-columns: 2fr 3fr;
        grid-template-areas:
        'std-seat-img std-seat-description'
        'fc-seat-img fc-seat-description'
        'prices-table prices-table';
    } 

    .section-title, .sub-section-title {
        margin-top: 4rem;
        padding-left: 4rem;
        font-size: 1.5rem;
        letter-spacing: 0.15rem;
    }

    .sub-section-title {
        padding-right: 4rem;
    }

    .movie-single {
        position: relative;
        justify-content: left;
    }

    .flip-card-container {
        margin-left: 2rem;
    }

    .movie-detail {
        position: absolute;
        grid-template-columns:2fr 1fr 1fr;
        grid-template-areas:
        '. title title'
        '. runtime rating';
        right: 0;
        top: 3rem;
        height: 30%;
        width: 100%;
        align-content: center;
        background-image: linear-gradient(to left, #d4af37 30%, transparent);
        border-bottom: 3px solid;
        border-image-slice: 1;
        border-image-source:  linear-gradient(to left, black 30%, transparent 70%) ;
    }


    /* booking.php */

    #bookings-info-grid {
        grid-template-columns: 2fr 3fr;
        grid-template-areas:
    
        'poster trailer'
        'poster synopsis'
        'poster team'  
        'booking-form booking-form';
    }

    .movie-title-bp {
        font-size: 2rem;
    }

    #movie-detail {
        top: 40px;  
        transition: top 0.5s; 
    }

    #movieimg {
        margin-right: 0;
        padding-right: 0;
    }

    #movieimg img {
        width: 100%;
    }

    #movie-trailer, #movie-synopsis, #movie-team {
        margin-left: 1rem;
    }


    /* Booking Date Select */

    #booking-date li {
        height: 5.5rem;
    }


    /* Your Details */
    #details-grid {
        grid-template-columns: 4fr 2fr;
    }

    #details-table input {
        font-size: 1.5rem;
    }

    #book-tickets-btn {
        margin-top:-100px;
    }

}


/* MEDIA MIN 992PX */

@media (min-width: 992px) {

    main, footer {
        background-image: linear-gradient(to left, transparent, black 1%, black 99%, transparent);
        background-color: transparent;
    }

    section, section div{
        background: transparent;
    }

    #movie-section-grid {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    #movie-section-grid .movie-single:nth-child(odd) {
        margin-right: 0;
    }

    #movie-section-grid .movie-single:nth-child(even) {
        margin-left: 0;
    }

    .movie-single {
        max-width: 600px;
    }

    .movie-single {
        flex-flow: column;
    }

    .flip-card-container {
        margin: 0 auto;
    }

    .movie-detail {
        position: static;
        grid-template-columns:1fr 1fr;
        grid-template-areas:
        'title title'
        'runtime rating';
        height: auto;
        background-image: linear-gradient(to left, transparent, #d4af37 30%, #d4af37 70%, transparent );
        text-align: center;
        justify-content: space-evenly;
        border: none;
    }
}


/* MEDIA MIN 1400PX */

@media (min-width: 1400px) {

    body {
        background-image: linear-gradient(to right, #d4af37, black 10%, black 90%, #d4af37);
    }

    main {
        background-color: transparent;
    }

    #company-name {
        margin-left: 14vw;
    }


    #logo img {
        margin-left: 11vw;
    }

    nav a{
        padding-right: 11vw;
    }

    #prices-grid {
        grid-template-columns: 2fr 3fr 2fr 3fr;
        grid-template-areas:
        'std-seat-img std-seat-description fc-seat-img fc-seat-description'
        'prices-table prices-table prices-table prices-table';
    } 

    .section-title{
        border-top-left-radius: 0.5rem;
        transition: 1s;
    } 
    
    .sub-section-title {
        border-top-right-radius: 0.5rem;
        transition: 1s;
    }

}